    body,
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    form,
    fieldset,
    input,
    textarea,
    p,
    blockquote,
    th,
    td {
        margin: 0;
        padding: 0;
    }
    
    .noPlPr {
        padding-right: 0;
        padding-left: 0
    }
    
    .mt10 {
        margin-top: 10px;
    }
    
    .mt15 {
        margin-top: 15px;
    }
    
    .mt20 {
        margin-top: 20px;
    }
    
    .mt30 {
        margin-top: 30px;
    }
    
    .mt40 {
        margin-top: 40px
    }
    
    .mt45 {
        margin-top: 45px;
    }
    
    .mb10 {
        margin-bottom: 10px;
    }
    
    .mb30 {
        margin-bottom: 30px;
    }
    
    .mb50 {
        margin-bottom: 50px
    }
    
    .mtb5 {
        margin: 5px 0
    }
    
    .ptb30lr15 {
        padding: 30px 15px
    }
    
    .ptb50lr15 {
        padding: 50px 15px
    }
    
    .plr0 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .dis_ib {
        display: inline-block;
    }
    
    ul,
    ol {
        list-style: none;
    }
    
    a {
        text-decoration: none !important;
    }
    
    img {
        display: inline-block;
        height: auto;
        max-width: 100%;
        vertical-align: top;
    }
    
    .box_shadow {
        box-shadow: 0 0 10px #666;
    }
    
    .clearfix:after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    
    .clearfix {
        *zoom: 1;
    }
    
    .borderRadio4 {
        border-radius: 4px;
        overflow: hidden;
    }
    
    .bgfff {
        background-color: #FFF !important;
        box-shadow: 0 2px 8px 0 rgba(7, 17, 27, .06);
        position: relative;
        z-index: 99
    }
    
    .bg000 {
        background-color: #f8fafc;
        box-shadow: 0 2px 4px 0 rgba(7, 17, 27, .06);
    }
    
    .letterspacing1 {
        letter-spacing: 1px;
    }
    
    .oneline {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .multiline {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    
    @media (min-width: 1200px) {
        .w1200 {
            width: 1200px;
            padding-left: 0;
            padding-right: 0;
        }
    }