.lessonContainer {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
}

.lesson_box {
    transition: all 1s;
}

.lesson_imgBox {
    padding-left: 0;
    padding-right: 0;
}

.lesson_content {
    padding: 15px;
}

.lesson_content>.LessonName {
    font-weight: 700;
    font-size: 20px;
}

.star {
    display: inline-block;
    color: #ff9900;
}

.lesson_content .buy {
    color: #999;
}

.lesson_content>p {
    height: 40px;
    line-height: 40px;
    color: rgba(7, 17, 27, 0.7);
    font-weight: 700;
}

.lesson_content>p>span {
    font-weight: normal;
}

.lesson_content>.price {
    width: 100%;
    background: #f5f5f5;
    color: #f01400;
    text-indent: 10px;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 15px 0;
    border-radius: 4px;
}

.lesson_content>.price>small {
    font-size: 12px;
    position: relative;
    top: -3px;
    left: 6px;
    font-weight: normal;
}

.lesson_content>.price .CoursePrice {
    font-weight: 700;
}

.lesson_content>.buyNow {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border: 0;
    background: linear-gradient(90deg, #f68688 0, #f02930 100%);
    transition: all .5s;
    border-radius: 0;
    outline: none;
    padding: 0 10px;
    border-radius: 4px;
}

.lesson_content>.watchNow {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border: 0;
    background: linear-gradient(90deg, #86eff6 0, #2990f0 100%);
    transition: all .5s;
    border-radius: 0;
    outline: none;
    padding: 0 10px;
    margin-left: 5px;
    border-radius: 4px;
}

.lesson_content>.buyNow>span,
.lesson_content>.watchNow>span {
    font-size: 20px;
    font-weight: normal;
    vertical-align: middle;
    margin-right: 5px;
}

.lesson_content>.buyNow>span {
    position: relative;
    top: -1px;
}

.lesson_content>.watchNow>span {
    position: relative;
    top: -1px;
}

.buyNow:hover,
.watchNow:hover {
    opacity: 0.7
}

.tab>div {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.tab>div:hover {
    color: #1d98de
}

.active {
    color: #1d98de
}

.teacherIntroduction {
    display: inline-block;
    max-width: 100%;
    height: auto;
}


/* .lesson_content {
    margin: 30px auto;
} */

.detailLesson-Tab {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

.nav-tabs {
    border-bottom: 0;
}

.myTab {
    margin: 0 auto;
}

.myTab li {
    margin: 0 40px;
    float: none;
    display: inline-block;
    background-color: transparent !important;
}

.myTab>li>a {
    margin-right: 0;
    border: 0;
    font-size: 17px;
    color: #4d555d;
    padding: 0 0 16px;
    margin-bottom: 10px;
}

.myTab>li.active>a,
.myTabs>li.active>a:focus,
.myTab>li.active>a:link,
.myTab>li.active>a:visited,
.myTab>li.active>a:hover {
    border: 0;
    color: #07111b
}

.myTab>li.active>a:link {
    border-bottom: 2px solid #1d98de;
}

.myTab>li.active>a:link {
    color: #1d98de
}

.myTab>li>a:hover {
    background-color: transparent;
    color: #07111b
}


/* 订单 */

.order-logo {
    display: inline-block;
    width: 35px;
    height: 41px;
    background: url("../images/logoPic.png") no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.order-header {
    border-bottom: 0;
    padding: 13px 30px;
}

.order-title {
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(89, 89, 89);
    font-weight: 200;
}

.order-body {
    padding: 0
}

.orderDesc {
    background-color: #f3f5f7;
    padding: 15px 30px;
}

.orderDesc>p {
    height: 30px;
    line-height: 30px;
    /* font-weight: 500; */
    color: #93999f;
}


/* .orderDesc>p>span {
    font-weight: 700;
} */

.orderDesc-shouldPay>b,
.orderDesc-price {
    font-size: 20px;
    font-weight: 700;
    color: #f01400;
    position: relative;
    top: 1px;
}

.payment {
    padding: 15px;
}

.payment-content {
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 4px;
}

.pay {
    font-size: 13px;
    font-weight: 800;
    background-color: #f1f1f1;
    padding: 10px 30px !important;
    color: #555 !important;
}

.pay01 {
    position: relative;
}

.pay01::before {
    display: block;
}

.pay:hover {
    color: #555 !important;
}

.payContent {
    padding: 15px;
}

.wechat {
    display: inline-block;
    width: 130px;
    height: 38px;
    margin-left: 10px;
    background: url("../images/WePayLogo.png") no-repeat;
    background-size: 100%;
}

.qrCode {
    display: inline-block;
    width: 228px;
    height: 214px;
    background-size: 100%;
    /* background-color: #ccc; */
}

.qrCodeDesc {
    display: inline-block;
    width: 200px;
    height: 65px;
    background: url("../images/paymentDesc.png") no-repeat;
    background-size: 100%;
}

.problem {
    color: #ff9900;
    margin-right: 10px;
}

.problem>span {
    margin-right: 5px;
    vertical-align: middle;
}


/* @ */

@media (min-width: 768px) {
    .modal-dialog {
        width: 750px;
        margin: 60px auto;
    }
}

@media (max-width:768px) {
    .lessonContainer {
        width: 100%;
        margin: 15px auto;
        border-radius: 4px;
        box-shadow: 0 5px 10px #ccc;
    }
    .navbar-header {
        padding-left: 15px;
    }
    .lesson_content>p {
        margin-bottom: 5px;
    }
    .lesson_content>h4 {
        margin-bottom: 5px;
    }
    .lesson_content>.buy>span {
        padding-right: 0;
    }
    .lesson_content>.buy>span::before,
    .lesson_content>.buy>span::after {
        top: 0;
    }
    .tab>div {
        font-size: 16px;
    }
}

@media(max-width:1024px) {
    .lesson_content>p {
        height: 30px;
        line-height: 31px;
    }
}

@media (max-width:996px) and (min-width:769px) {
    .lesson_content>.buy>span {
        padding-right: 0;
    }
    .lesson_content>.buy>span::before,
    .lesson_content>.buy>span::after {
        top: 0;
    }
}

@media (max-width:414px) {
    .lesson_content>p {
        height: 35px;
        line-height: 35px;
    }
    .lesson_content>.buyNow,
    .lesson_content>.watchNow {
        height: 35px !important;
        line-height: 35px !important;
    }
}

@media (max-width:321px) {
    .orderDesc-shouldPay {
        position: static;
    }
}