.lesson_box {
    min-height: 340px;
    transition: all 1s;
}

.lesson_content>.LessonName {
    font-weight: 700;
    font-size: 20px;
}

.star {
    display: inline-block;
    color: #ff9900;
}

.lesson_content>.buy {
    color: #999;
}

.lesson_content>p {
    height: 44px;
    line-height: 44px;
    color: rgba(7, 17, 27, 0.7);
    font-weight: 700;
    /* line-height: 60px; */
}

.lesson_content>p>span {
    font-weight: normal;
}

.lesson_content>.price {
    width: 100%;
    background: #f5f5f5;
    color: #f01400;
    text-indent: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.lesson_content>.price .CoursePrice {
    font-weight: 700;
}

.lesson_content>.buyNow {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border: 0;
    background: #f02930;
    transition: all .5s;
    border-radius: 0;
    outline: none;
    font-weight: 700;
    padding: 0 10px;
}

.lesson_content>.watchNow {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border: 0;
    background: #2990f0;
    transition: all .5s;
    border-radius: 0;
    outline: none;
    font-weight: 700;
    padding: 0 10px;
    margin-left: 5px;
}

.lesson_content>.buyNow>span,
.lesson_content>.watchNow>span {
    font-size: 20px;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 5px;
}

.lesson_content>.buyNow>span {
    position: relative;
    top: -2px;
}

.lesson_content>.watchNow>span {
    position: relative;
    top: -1px;
}

.buyNow:hover,
.watchNow:hover {
    opacity: 0.7
}

.tab>div {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.tab>div:hover {
    color: #1d98de
}

.active {
    color: #1d98de
}

.teacherIntroduction {
    display: inline-block;
    max-width: 100%;
    height: auto;
}


/* .lesson_content {
    margin: 30px auto;
} */

.detailLesson-Tab {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

.nav-tabs {
    border-bottom: 0;
}

.myTab {
    margin: 0 auto;
}

.myTab li {
    margin: 0 40px;
    float: none;
    display: inline-block;
    background-color: transparent !important;
}

.myTab>li>a {
    margin-right: 0;
    border: 0;
    font-size: 17px;
    color: #4d555d;
    padding: 0 0 16px;
    margin-bottom: 10px;
}

.myTab>li.active>a,
.myTabs>li.active>a:focus,
.myTab>li.active>a:link,
.myTab>li.active>a:visited,
.myTab>li.active>a:hover {
    border: 0;
    color: #07111b
}

.myTab>li.active>a:link {
    border-bottom: 2px solid #1d98de;
}

.myTab>li.active>a:link {
    color: #1d98de
}

.myTab>li>a:hover {
    background-color: transparent;
    color: #07111b
}


/* @ */

@media (min-width:1199px) {
    .lesson_img>img {
        margin-top: 10px;
    }
}

@media (max-width:1198px) and (min-width:997px) {
    .lesson_img>img {
        margin-top: 20px;
    }
}

@media (max-width:996px) {
    .lesson_img>img {
        margin-top: 10px;
    }
}

@media (max-width:768px) {
    .lessonContainer {
        width: 100%;
        margin: 0 auto;
    }
    .row {
        padding: 0 15px;
    }
    .navbar-header {
        padding-left: 15px;
    }
    .lesson_box {
        height: 170px;
        /* padding-top: 10px; */
    }
    .lesson_content {
        margin: 15px auto;
    }
    .lesson_content>p {
        margin-bottom: 5px;
    }
    .lesson_content>h4 {
        margin-bottom: 5px;
    }
    /* .lesson_content>.buyNow {
        margin-top: 5px;
        height: 30px;
        line-height: 30px;
    } */
    .lesson_content>.buy>span {
        padding-right: 0;
    }
    .lesson_content>.buy>span::before,
    .lesson_content>.buy>span::after {
        top: 0;
    }
    .tab>div {
        font-size: 16px;
    }
}

@media (max-width:996px) and (min-width:769px) {
    .lesson_img>img {
        margin-top: 20px;
    }
    .lesson_content {
        width: 175px;
        margin: 30px auto;
    }
    .lesson_content>p {
        margin-bottom: 20px;
    }
    .lesson_content>h4 {
        margin-bottom: 20px;
    }
    /* .buyNow {
        margin-top: 20px;
    } */
    .lesson_content>.buy>span {
        padding-right: 0;
    }
    .lesson_content>.buy>span::before,
    .lesson_content>.buy>span::after {
        top: 0;
    }
}

@media (max-width:414px) {
    .lesson_content>p {
        height: 35px;
        line-height: 35px;
    }
    .lesson_content>.buyNow,
    .lesson_content>.watchNow {
        height: 35px !important;
        line-height: 35px !important;
    }
}