/* footer */

.footer {
    padding: 36px 15px;
}

.footer-link>a {
    margin: 0 10px;
    color: #99a1a6;
}

.footer-link>a:hover {
    color: #07111B;
}

.weChat {
    font-size: 30px;
    color: #99a1a6;
    opacity: .5;
    display: inline-block;
    position: relative;
}

.weChat>i {
    position: absolute;
    width: 172px;
    height: 212px;
    background: url("../images/weChat.png");
    opacity: 1;
    top: -215px;
    left: -70px;
    display: none;
    z-index: 999;
}

.weChat:hover .weChat-pic {
    display: block;
}

.weChat-desc {
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
}

.weChat:hover {
    color: #99a1a6;
    opacity: 1;
}

.footer-copyright {
    font-size: 12px;
    color: #93999F;
    font-family: "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    padding-left: 10px;
    line-height: 60px;
}

.theThreePartLink {
    display: inline-block;
    margin: -5px 15px 0;
}

.theThreePartLink:nth-of-type(2) {
    position: relative;
    top: -2px;
}

@media (max-width:415px) {
    .footer-link,
    .footer-copyright {
        text-align: center;
    }
}