/* 顶部 */

.container-fluid {
    padding: 0;
}

.row,
.container {
    transition: all 1s;
}

.top {
    background: #225189;
}

.containerTop {
    padding-left: 0;
    padding-right: 0;
    height: 50px;
}

.containerTop .logo {
    display: inline-block;
    background: url("../images/logo01.png") no-repeat;
    background-size: 70% 83%;
    width: 170px;
    height: 50px;
    background-position: 40px 5px;
}

.nav>li>a {
    color: #fff;
}

.nav>li {
    background: #225189;
}

.nav>li>a:hover {
    color: #225189;
    background: rgb(248, 246, 246);
}

.navbar {
    border: none;
    margin-bottom: 0;
}

.navbar-nav {
    margin: 0 -15px;
}

.navbar-header {
    margin-right: 20px;
}

.navbar-toggle {
    border: 1px solid #FFF;
    color: #FFF;
}

.navbar-toggle>.icon-bar {
    background: #FFF;
}

.navbar-collapse {
    position: relative;
    z-index: 10000;
    border-color: #1983bf;
    /* -webkit-box-shadow: inset 0 1px 0 #71d0f8;
    box-shadow: inset 0 1px 0 #71d0f8; */
}


/* .navbar-collapse {
    border-top: 1px solid #FFF;
} */


/* playVideo */

.playVideo {
    height: 450px;
    background: #eee;
    position: relative;
    transition: all 1s;
    position: relative;
}

.playVideo_title {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #2b323c;
    font-size: 20px;
}

.playVideo_desc {
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(44, 50, 59, .65);
    padding-left: 20px;
}

.playVideo>.enter {
    display: block;
    position: absolute;
    width: 140px;
    height: 60px;
    background: #2b323c;
    color: #FFF;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -70px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    transition: all .3s;
}

.playVideo>.enter:hover {
    background: rgb(54, 53, 53);
}

.description {
    height: 450px;
    padding: 20px 0;
    background-color: #eee;
}

.lists {
    width: 280px;
    margin: 0 auto;
    background-color: #FFF;
}

.lists img {
    width: 100%;
}

.content {
    padding: 10px;
}

.content>p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    color: #666;
}

.content>p>span {
    color: #999999;
}


/* 备课 */

.prepareLseeon {
    height: 220px;
}


/* .prepareLseeon>p {
    padding-left: 20px
} */

.prepareLesson_desc {
    width: 280px;
    height: 170px;
    margin: 10px auto;
}

.prepareLesson_title {
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    background-color: rgba(44, 50, 59, .65);
    bottom: 0;
    left: 0;
    padding-left: 20px;
}


/* 往期课程 */

.postLesson {
    margin-bottom: 10px;
}

.prepareLesson_desc {
    height: 170px;
    position: relative;
}

.star>span {
    display: inline-block;
    width: 19px;
    height: 18px;
    background: url("../images/star_full.jpg")
}

.star>span:last-of-type {
    background: url("../images/star.jpg")
}

.post_desc>p::before {
    display: inline-block;
    width: 25px;
    height: 11px;
    content: "";
    background: url("../images/read.jpg")
}

.post_pic {
    margin-bottom: 10px;
}


/* @ */

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .lesson_desc {
        padding: 0 22px;
    }
    /* 往期课程 */
    .postLesson {
        margin-right: 20px;
    }
    .postLesson:last-of-type {
        margin-right: 0;
    }
    .description {
        width: 32%;
        margin-left: 15px;
    }
    .prepareLseeon {
        margin-left: 20px;
    }
    .prepareLseeon:first-of-type {
        margin-left: 0;
    }
}

@media (max-width:1190px) and (min-width:767px) {
    .prepareLseeon {
        margin-bottom: 15px;
    }
    .prepareLesson_intro {
        padding: 0 100px;
    }
    .prepareLseeon,
    .postLesson {
        width: 50%;
    }
    .post_desc {
        padding: 0 100px;
    }
}

@media(min-width:992px) {
    .description {
        width: 32%;
        margin-left: 12px;
    }
}

@media (max-width:992px) and (min-width:767px) {
    .logo {
        margin-left: 30px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .lesson {
        width: 44%;
        padding: 0 54px;
    }
    .prepareLesson_intro,
    .post_desc {
        padding: 0 48px;
    }
    .description {
        margin-top: 15px;
    }
}

@media (max-width:768px) {
    .logo {
        margin-left: 30px;
    }
    .playVideo {
        height: 350px;
    }
    .lists>.list_desc {
        height: 85px;
    }
    .lesson {
        width: 43%;
        padding: 0 53px;
    }
    .postLesson {
        width: 35%;
        margin: 0 38px;
    }
    .post_desc {
        padding: 0
    }
    .description {
        margin-top: 15px;
    }
    .prepareLseeon {
        width: 48%;
        margin-top: 15px;
    }
    .prepareLesson_intro {
        padding: 0 40px;
    }
}

@media(max-width:589px) {
    .prepareLseeon {
        width: 100%;
    }
    .postLesson {
        width: 100%;
        margin: 5px 0;
    }
    .post_desc {
        padding: 0 90px;
    }
    .prepareLesson_intro {
        padding: 0 65px;
    }
}

@media (max-width:474px) {
    .post_desc {
        padding: 0 70px;
    }
    .prepareLesson_intro {
        padding: 0 65px;
    }
}

@media(max-width:375px) {
    .post_desc,
    .prepareLesson_intro {
        padding: 0 47px;
    }
    .post_desc {
        margin-top: 15px;
    }
}

@media (max-width:320px) {
    .post_desc,
    .prepareLesson_intro {
        padding: 0 20px
    }
}