/* .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} */

.content {
    padding-left: 90px;
}

.loginContainer {
    max-width: 430px !important;
    height: 330px;
    padding: 30px 60px 0;
}

.loginBox {
    width: 100%;
    height: 100%;
    border: 3px solid #dedede;
    border-radius: 4px;
}

.pwdBox,
.emailBox {
    width: 238px;
    line-height: 38px;
    height: 38px;
    border: 3px solid #dedede;
    border-radius: 4px;
    margin: 30px auto 0;
    padding: 1px 0;
    transition: all .5s;
}

.checkbox {
    width: 238px;
    margin: 0 auto;
}

.loginBtnBox {
    width: 238px;
    margin: 20px auto !important;
}

.other {
    width: 238px;
    margin: 20px auto;
}

.login_bg {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-left: 15px;
    background: url("../images/email.jpg");
    vertical-align: top;
    margin-top: 7px;
}

.pwd_bg {
    background: url("../images/pwd.jpg") no-repeat;
    margin-left: 19px;
}

.line {
    display: inline-block;
    width: 3px;
    height: 30px;
    background: #dedede;
    margin-left: 10px;
    transition: all .5s;
}

.pwd_line {
    margin-left: 7px;
}

.password,
.username {
    width: 75%;
    height: 31px;
    line-height: 31px;
    outline: none;
    border: transparent;
    vertical-align: middle;
    margin-top: -23px;
    padding-left: 10px;
}

.loginBtn {
    height: 40px;
    line-height: 40px;
    background-color: #1d98de !important;
    border: 0;
    outline: none;
    transition: all .4s;
    box-shadow: 0 6px 10px #bfb7b7;
}

.loginBtn:hover {
    background-color: #3372c0 !important;
}

@media (max-width:1199px) {
    .loginContainer {
        padding-top: 0;
        height: 294px;
    }
}

@media (max-width:992px) {
    .loginContainer {
        margin: 40px 0 0 65px;
    }
}

@media (max-width:415px) {
    .content {
        padding-left: 0;
    }
    .loginContainer {
        margin: 40px 0 0 0;
    }
}