body {
    background: #fcfcfc;
}


/* 顶部 */

.top {
    padding: 11px 16px;
    background: #FFF;
    border: 1px solid #e1e1e1;
}

.logoDesc {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: -5px;
    left: 5px;
    text-align: center;
}

.logoDesc>p:first-of-type {
    font-size: 18px;
}

.welcome {
    font-family: "SimSun";
    color: #999;
    font-size: 12px;
    position: relative;
    top: 20px;
}

.welcome>a:hover {
    color: #f60;
}


/* wrap*/

.wrap {
    background: url("../images/regist_topshadow.png") repeat-x;
    min-height: 620px;
}

.loginBox {
    padding: 15px 55px;
    background: #FFF;
    border-radius: 4px;
    position: relative;
}

.registerBox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media(max-width:769px) {
    .registerBox {
        position: static;
    }
}

.tips {
    color: #FFF;
    margin-right: 10px;
}

.error_tips {
    padding: 5px 10px;
    border: 1px solid #b56f6f;
    border-radius: 4px;
    color: #FFF;
    background: #ff3c3c;
    opacity: 0
}

.loginBox>h4 {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}

.loginBox>h4>a:hover {
    color: #f60;
}

.form_item {
    height: 50px;
    margin-bottom: 10px;
    padding: 14px 18px;
    border: 1px solid #dedede;
    background: #FFF;
    line-height: 20px;
    border-radius: 4px;
}

.inputlogo {
    color: #999;
    font-size: 20px;
    vertical-align: top;
    margin-right: 15px;
}

.form_item>input[type=text],
.form_item>input[type=password],
inputStyle {
    border: 0;
    outline: none;
    font-size: 14px;
    width: 82%;
}

.loginButton {
    width: 100%;
    height: 52px;
    border: 0 none;
    border-radius: 3px;
    background: #ff3c3c;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ff7373;
    font-family: "Microsoft YaHei";
    line-height: 52px;
    transition: all .3s
}

.loginButton:hover {
    opacity: .8;
}


/* 注册账号 */


/* footer */

.bgfff {
    background: #fcfcfc !important;
    box-shadow: 0 0 0
}

.footer {
    padding: 36px 15px;
}

.footer-link>a {
    margin: 0 10px;
    color: #99a1a6;
}

.footer-link>a:hover {
    color: #07111B;
}

.footer-copyright {
    font-size: 12px;
    color: #93999F;
    font-family: "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    padding-left: 10px;
    line-height: 60px;
}

.forget {
    margin: 5px 0 10px;
    color: #999;
    font-size: 12px;
}

.forget>a {
    color: #999;
    font-size: 12px;
}

.forget>a:hover {
    color: #f60;
}

@media (min-width: 1200px) {
    .wrap-container {
        padding: 0 95px;
    }
}

@media(max-width:991px) {
    .loginBox {
        margin-top: 50px;
    }
}

@media(max-width:415px) {
    .logoDesc>p:first-of-type {
        font-size: 13px;
    }
    .logoDesc>p:last-of-type {
        font-size: 12px;
    }
    .logo {
        width: 42px;
    }
    .logoDesc {
        top: -11px;
    }
    .welcome {
        top: 10px;
    }
    .loginBox {
        padding: 15px;
    }
    .error_tips {
        left: 13px;
    }
}

@media (max-width:320px) {
    .loginBox {
        margin-top: 50px;
        padding: 15px 0;
    }
    .error_tips {
        left: 0;
        top: -39px;
    }
}