.myLable {
    list-style: none;
}

.myLable li {
    height: 48px;
    width: 160px;
    margin: 0 auto 8px;
}

.myLable li a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    color: #787d82;
    padding-left: 64px;
    text-align: left;
}

.myLable li a.active {
    color: #fff;
    background: rgba(240, 20, 20, .8);
    border-radius: 8px;
}


/* .myLable li a.active::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 24px solid #fff;
    border-bottom: 24px solid #fff;
    border-left: 15px solid transparent;
} */

.myLable li a.active i {
    color: #FFF;
}

.myLable li a i {
    position: absolute;
    left: 24px;
    top: 0;
    font-size: 28px;
    color: #93999f;
    line-height: 48px;
}

.myClass {
    padding: 0 20px
}

.classBuyCode,
.connectUs {
    display: none;
}

.classBuyCode>form {
    text-align: center;
    padding: 30px 20px;
}

.myAlertSuccess,
.myAlertError {
    display: none;
    position: absolute;
    width: 100%;
}

.classBuyCode>form>input[type=text] {
    height: 50px;
    width: 50%;
    padding: 14px 18px;
    border: 1px solid #dedede;
    background: #FFF;
    border-radius: 4px;
}

.confirm {
    height: 50px;
    border: 0 none;
    border-radius: 3px;
    background: #ff3c3c;
    font-size: 17px;
    color: #FFF;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ff7373;
    padding: 0 25px;
    font-family: "Microsoft YaHei";
    line-height: 50px;
    transition: all .3s;
    outline: none;
    position: relative;
    top: 2px;
}

.confirm:hover {
    opacity: .8
}

.connectUs {
    padding: 10px 20px
}

.connectUs p {
    color: #363d40;
    font-size: 16px;
}

.connectUs p span {
    color: #656e73;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
}

.rightBox {
    position: relative;
}


/* .rightBox>div {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
} */

.notHaveCourse {
    font-size: 17px;
    color: #777
}


/* Course 课程列表*/

.types-title {
    font-weight: 700;
    color: #4D555D;
}

.Course {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .05);
    transition: all .3s;
}

.Course:hover {
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1);
}

.CourseInfo {
    padding: 5px 8px;
    font-family: "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
}

.CourseInfo p:nth-child(2) {
    height: 48px;
    color: #93999F;
}

.CourseName {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #07111B;
    transition: all .3s;
}

.CourseDesc {
    max-height: 48px;
    font-size: 12px;
    color: #93999F;
    letter-spacing: -0.1px;
    line-height: 24px;
}

.CourseContainer:hover .CourseName {
    color: red;
}

.Course img {
    width: 100%;
    transition: all .5s;
    border-radius: 8px;
}

.CourseContainer {
    position: relative;
    transform-style: preserve-3d;
    perspective: 800px;
}


/* 课程状态 */

.new {
    position: absolute;
    border: 2px solid #FFF;
    border-radius: 12px;
    top: -10px;
    left: -10px;
    z-index: 4;
    font-size: 14px;
    color: #FFF;
    line-height: 20px;
    padding: 2px 8px;
    background: linear-gradient(-90deg, #f68688 0, #f02930 100%);
    box-shadow: 0 0 20px #f68688;
}

.viewBack {
    position: absolute;
    border: 2px solid #FFF;
    border-radius: 12px;
    top: -10px;
    left: -10px;
    z-index: 4;
    font-size: 14px;
    color: #FFF;
    line-height: 20px;
    padding: 2px 8px;
    background: linear-gradient(-90deg, #86eff6 0, #2990f0 100%);
}

.makepreparations {
    position: absolute;
    border: 2px solid #FFF;
    border-radius: 12px;
    top: -10px;
    left: -10px;
    z-index: 4;
    font-size: 14px;
    color: #FFF;
    padding: 2px 8px;
    background: linear-gradient(-90deg, #f6eb86 0, #f0aa29 100%);
}

@media(max-width:769px) {
    .myLable {
        margin-bottom: 20px;
        text-align: center;
    }
    .myLable li {
        display: inline-block;
        width: 112px;
    }
    .myLable li a {
        padding-left: 28px;
        text-align: center;
    }
    .myLable li a i {
        left: 4px;
        font-size: 25px;
    }
    .minHeight500 {
        min-height: auto;
    }
    .rightBox>div {
        position: static
    }
}

@media(max-width:415px) {
    .classBuyCode>form>input[type=text] {
        width: auto;
    }
}

@media(max-width:321px) {
    .classBuyCode>form {
        padding: 30px 0;
    }
    .confirm {
        padding: 0 20px;
    }
}