.bought_box {
    max-width: 220px;
    margin-top: 15px;
    margin-left: 10px;
}

.havBought {
    border: 1px solid #ccc;
    min-height: 270px;
    min-width: 220px;
}

.havBought>.havBought_img {
    min-height: 150px;
    background-color: #1d98de;
}

.havBought>.havBought_desc {
    padding: 10px;
}

.havBought>.havBought_desc>.className,
.classEg {
    font-size: 17px;
}

.grade>.star>span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("../images/start.gif")
}

.havBought_desc>.price {
    font-size: 16px;
    color: #dd2b1f
}

@media (max-width:768px) and (min-width:576px) {
    .bought_List {
        text-align: center;
    }
    .bought_box {
        display: inline-block;
    }
}

@media (max-width:575px) {
    .bought_box {
        min-width: 230px;
        margin: 15px auto;
    }
}