.content {
    padding: 30px 15px;
    position: relative;
}

.activityList,
.activityDesc {
    border: 2px solid #FF8533;
    border-radius: 4px;
    overflow: hidden;
    /* position: fixed; */
}

.title {
    background-color: #FF8533;
    color: #FFF;
    margin: 0;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    font-size: 16px;
}

.titleLogo {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.logo02 {
    font-size: 26px;
}

.activityListDesc_container,
.activityDesc_container {
    background-color: #FFF;
}

.activityListDesc_container li {
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}